body{
    margin: 0px;
    background-color: rgba(235, 194, 253, 0.603);
}

header{
    width: 100%;
    height: 60px;
    background-color: rgba(108, 12, 187, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
}

#balloons-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.balloon {
    position: absolute;
    bottom: -150px;
    width: 110px; /* Largura do balão */
    height: 120px; /* Altura do balão */
    background-size: 50%; /* Tamanho da imagem dentro do balão (percentual ou valores fixos como 'cover' ou 'contain') */
    background-position: center; /* Posiciona a imagem no centro do balão */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    border-radius: 50%; /* Mantém a borda arredondada */
    animation: float 6s ease-in-out infinite;
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.stop {
    animation-play-state: paused;
}

.fade-out {
    opacity: 0;
    transform: scale(0.5);
}

@keyframes float {
    0% {
        transform: translateX(0) rotate(0deg);
        bottom: -150px;
        opacity: 1;
    }
    100% {
        transform: translateX(20px) rotate(10deg);
        bottom: 110%;
        opacity: 0;
    }
}


@media (min-width: 360px) and (max-width: 480px){
#container_pags{
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

#container_pags button {
    width: 63px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    background-color: rgba(202, 122, 255, 0.705);
    color: aliceblue;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.b_5{
    font-size: 15px;
    font-weight: bolder;
}

#container_mensagem{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fundo_mensagem{
    width: 85%;
    height: 200px;
    background-color: rgba(123, 29, 185, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    color: aliceblue;
    border-style: groove;
    border-color: blueviolet;
}

}

@media (min-width: 481px) and (max-width: 768px){
    #container_pags{
        width: 98%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    a{
        text-decoration: none;
    }
    
    #container_pags button {
        width: 70px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        background-color: rgba(202, 122, 255, 0.705);
        color: aliceblue;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .b_5{
        font-size: 15px;
        font-weight: bolder;
    }
    
    #container_mensagem{
        width: 100%;
        height: 400px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #fundo_mensagem{
        width: 70%;
        height: 220px;
        background-color: rgba(123, 29, 185, 0.808);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        text-align: center;
        color: aliceblue;
        border-style: groove;
        border-color: blueviolet;
        font-size: 20px;
    }
    
    }

    @media (min-width: 769px) and (max-width: 1200px){
        #container_pags{
            width: 98%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        a{
            text-decoration: none;
        }
        
        #container_pags button {
            width: 70px;
            height: 30px;
            margin-left: 15px;
            margin-right: 15px;
            background-color: rgba(202, 122, 255, 0.705);
            color: aliceblue;
            border: none;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        
        .b_5{
            font-size: 15px;
            font-weight: bolder;
        }
        
        #container_mensagem{
            width: 100%;
            height: 400px;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        #fundo_mensagem{
            width: 40%;
            height: 240px;
            background-color: rgba(123, 29, 185, 0.808);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            text-align: center;
            color: aliceblue;
            border-style: groove;
            border-color: blueviolet;
            font-size: 23px;
        }
        
        }
    
        @media (min-width: 1201px) {
            #container_pags{
                width: 98%;
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            a{
                text-decoration: none;
            }
            
            #container_pags button {
                width: 70px;
                height: 30px;
                margin-left: 15px;
                margin-right: 15px;
                background-color: rgba(202, 122, 255, 0.705);
                color: aliceblue;
                border: none;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            
            .b_5{
                font-size: 15px;
                font-weight: bolder;
            }
            
            #container_mensagem{
                width: 100%;
                height: 400px;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            #fundo_mensagem{
                width: 40%;
                height: 240px;
                background-color: rgba(123, 29, 185, 0.808);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                text-align: center;
                color: aliceblue;
                border-style: groove;
                border-color: blueviolet;
                font-size: 23px;
            }
            
            }