body{
    margin: 0px;
    background-color: rgba(235, 194, 253, 0.603);
}

header{
    width: 100%;
    height: 60px;
    background-color: rgba(108, 12, 187, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 360px) and (max-width: 480px){
    #container_pags{
        width: 95%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    a{
        text-decoration: none;
    }
    
    #container_pags button {
        width: 63px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        background-color: rgba(202, 122, 255, 0.705);
        color: aliceblue;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .b_5{
        font-size: 15px;
        font-weight: bolder;
    }

    #controle{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    #imagem{
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imagem img{
        width: 100%;
        border-radius: 18px;
    }

    #centralizar{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(62, 11, 110, 0.658);
}

}

@media (min-width: 481px) and (max-width: 768px){
    #container_pags{
        width: 98%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    a{
        text-decoration: none;
    }
    
    #container_pags button {
        width: 70px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        background-color: rgba(202, 122, 255, 0.705);
        color: aliceblue;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .b_5{
        font-size: 15px;
        font-weight: bolder;
    }

    #controle{
        width: 100%;
        height: 590px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    #imagem{
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imagem img{
        width: 80%;
        border-radius: 18px;
    }

    #centralizar{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(62, 11, 110, 0.658);
}

}

@media (min-width: 769px) and (max-width: 1200px){
    #container_pags{
        width: 98%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    a{
        text-decoration: none;
    }
    
    #container_pags button {
        width: 70px;
        height: 30px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: rgba(202, 122, 255, 0.705);
        color: aliceblue;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .b_5{
        font-size: 15px;
        font-weight: bolder;
    }

    #controle{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    #imagem{
        width: 40%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imagem img{
        width: 80%;
        border-radius: 18px;
    }

    #centralizar{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(62, 11, 110, 0.658);
}

}

@media (min-width: 1201px) {
    #container_pags{
        width: 98%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    a{
        text-decoration: none;
    }
    
    #container_pags button {
        width: 70px;
        height: 30px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: rgba(202, 122, 255, 0.705);
        color: aliceblue;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .b_5{
        font-size: 15px;
        font-weight: bolder;
    }

    #controle{
        width: 100%;
        height: 580px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
    }

    #imagem{
        width: 31%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #imagem img{
        width: 80%;
        border-radius: 18px;
    }

    #centralizar{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(62, 11, 110, 0.658);
}

}
